.banner {
  background-color: rebeccapurple;
  /* background-image: url("../../../public/assets/bckgrnd.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  height: 700px;
}

.banner-heading {
  font-size: 70px;
  color: white;
  text-align: center;
  margin-right: 200px;
}
.banner-para {
  color: white;
  text-align: center;
  font-size: 18px;
}
